Source: robotd
Section: electronics
Priority: optional
Maintainer: Alistair Lynn <arplynn@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-systemd,
               dh-python,
               python3,
               python3-setuptools,
               python3-cffi,
Standards-Version: 3.9.6

Package: robotd
Architecture: any
Depends: ${misc:Depends},
         adduser,
         python3,
         python3-pyudev,
         python3-serial,
         python3-setproctitle,
Description: Robot control daemon
 Vends UNIX sockets in /var/robotd for communicating with the various
 robotic peripherals.
