Source: robotd
Section: electronics
Priority: optional
Maintainer: Alistair Lynn <arplynn@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-systemd,
               dh-python,
               python3,
               python3-setuptools,
               python3-cffi,
               python3-dev,
               sb-vision,
               libusb-1.0-0-dev,
Standards-Version: 3.9.6

Package: robotd
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         python3,
         ${python3:Depends},
         libusb-1.0-0,
         sb-vision,
Description: Robot control daemon
 Vends UNIX sockets in /var/robotd for communicating with the various
 robotic peripherals.
