#!/usr/bin/make -f

export PYBUILD_NAME=robotd
export PYBUILD_RULES=3.4

%:
	dh $@ --with systemd,python3 --buildsystem=pybuild

override_dh_systemd_start:
	dh_systemd_start --restart-after-upgrade robotd.service

override_dh_install:
	find debian/ -name __pycache__ -type d | xargs -r rm -r
	dh_install
